div.page-container {
    padding-top: 60px;  /* move content down to make space for header */
}

.img {
    position: relative;
    left: 0px;
    right: 0px;
}

.hist {
    display: none;
    opacity: 0.5;
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.img-container {
    min-width:200px;
    min-height:200px;
    padding:10px;

    position: relative;
    left: 0px;
    right: 0px;
}