#build files
build/
webapps/itm/WEB-INF/lib/itm.jar

#media
media/audio/
media/video/
media/img/
webapps/itm/media/

#tomcat logs and temporary files
test.txt
test.log
tools/tomcat/apache-tomcat-9.0.0.M1/logs/
tools/tomcat/apache-tomcat-9.0.0.M1/work/*
tools/tomcat/apache-tomcat-9.0.0.M1/temp/

#test output folder
test/

#eclipse project files?
#.project
#.classpath

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
