#build files
build/

#media
media/audio/
media/video/
media/img/

#test output folder
test/

#eclipse project files?
#.project
#.classpath

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/